
  
#caixa {
    display: flex;
  
    gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    margin-left: 900px;
}
  
#grid-caixa {
    background-color: white;
    width: 538px;
    height: 594px;
    justify-content: center;
    margin-top: 90px;
    border-radius: 30px;
   
}
  
.grid-item {
    margin: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
  
.carrinho{
    color: #0a376e;
}
  

 
  
.finalizar button{
    background-color: #0a376e;
    justify-content: center;
    width: 370px;
    height: 40px;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 40px;
}
  
.produto{
    display: flex;
    
}

.botao{
  display: flex;
}

.botao input{
  border-color: #0a376e;
  background-color: #0a376e;
  color: white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
 
  

}
 
.produto-info{
  display: flex;
}

.produto-info svg{
  margin-left: 10px;
}

.info{
  margin-left: 20px;
  margin-top: 10px;

}

.cupom input{
  border-radius: 40px;
  border: 2px solid #0a376e;
  border-radius: 40px;
  width: 250px;
  background-color: transparent;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 1%;
}

.cupom input:focus{
  border: none;
  outline-color: #0a376e;
  box-shadow: 0 0 0 0;
  
}

.produto-info button{
  border: none;
  background-color: white;
}

.sub-valor{
  display: flex;
  font-weight: bold;
  
}

.sub{
  margin-left: 210px;
}
.total{
  margin-left: 220px;
}

.desc{
  margin-left: 200px;
}

.ent{
  margin-left: 220px;
}

.entrega-valor{
  display: flex;
}

.desconto-valor{
  display: flex;
  color: #00BF15;
}

.total-valor{
  display: flex;
  font-weight: bold;
  font-size: 20px;
  
}

.continuar{
  margin-top: 10px;
  margin-left: 110px;
}



