* {
    box-sizing: border-box;

    
}
  


.container-consumo{
    display: flex;
    text-align: center;
   
  
    
}

.texto-sobre{
    text-align: center;
    height: 50px;
    width: 70px;
    padding-top: 20px;
   
   
}

.img-inter{
    padding-top: 30px;

}


h1{
    font-size: 16px;
    margin-left: 180px;
    
}

h2{
    font-size: 16px;
    margin-left: -10px;
    margin-top: 170px;

    

}

p{
    margin-top:80px;
   
   

}

h1{
    margin-left: -50px;
    margin-top: 30px;
    font-size: 16px;
    color: white;
}

h4{
    font-size: 16px;
    margin-left: 160px;
    margin-top: 40px;
}




html {
    background-color: black;
    color: white;
  }
  
body {
    margin: 0; 
}

.img-tartaruga{
   position: absolute;
   top: 560px;
   right: 130px;
  
}

.img-foca{
    position: absolute;
    top: 710px;
    right: 130px;
   
   
}

.img-peixes {
    width: 900px; 
    height:600px;
    margin-left: -10px;
    margin-top: -130px;


}

.img-lixo{
    width: 800px;
    margin-left: -400px;
    margin-top: -100px;


}

h4{
    margin-top: -180px;
    margin-left: auto;
   
}

h3{
    font-size: 16px;
    margin-top: -400px;
    margin-left: -200px;
}

.img-jogandolixo{
    width: 900px;
    margin-left: -600px;
    margin-top: -10px;
}

.img-limpandolixo{
    width: 900px;
    margin-left: -700px;
    margin-top: -120px;
}

h5{
    font-size: 16px;
    margin-top: -200px;
    margin-left: -290px;

}

.img-reciclavel{
    width: 920px;
    margin-left: -700px;
    margin-top: -30px;
}

h6{
    font-size: 16px;
    margin-top: -400px;
    margin-left: -300px;
}

.img-proibidonadar{
    width: 920px;
    margin-left: -700px;
    margin-top: -130px;
}

h2{
    margin-top: -180px;
    margin-left: -290px;

}






  







  
  


  


