* {
  box-sizing: border-box;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-consumo {
  display: flex;
  text-align: center;
}

.consumo-c {
  font-size: 20px;
}

.caixa-sobre {
  background-color: #dddddd85;
  border-radius: 15px;
  padding: 20px;
  height: 350px;
  margin-top: 30px;
}

.texto-sobre {
  height: 50px;
  width: 70px;
  padding-top: 20px;
  font-weight: bold;
  color: black;
  font-size: 20px;
  margin-left: 130px;
  margin-bottom: 10px;
}

.img-inter {
  padding-top: 10px;
  margin-left: 130px;
  padding-top: 10px;
  margin-left: 130px;
}

.poluicao-texto {
  font-size: 18px;
  color: white;
  text-align: center;
}

.pesca-texto {
  font-size: 20px;
  margin-left: 140px;
  margin-top: 100px;
}

.texto-especie {
  font-size: 20px;
}

.preserv-texto {
  font-size: 20px;
  margin-top: 100px;
}

.consumo {
  color: black;
  font-size: 18px;
  font-size: 18px;
}

body {
  margin: 0;
}

.consumoBody {
  background: radial-gradient(circle, #538aad, #2573a0, #0f5387, #538aad);

  color: white;
}

.img-peixes {
  width: 280px;
  height: 290px;
}

.img-lixo {
  height: 120px;
}

.poluicao {
  font-size: 20px;
  margin-top: 70px;
  margin-left: 10px;
}


.img-jogandolixo {
  height: 120px;
}

.img-limpandolixo {
  height: 120px;
}

.img-reciclavel {
  height: 120px;
}

.img-proibidonadar {
  height: 120px;
}

.pesca-textodois {
  font-size: 18px;
  margin-top: 120px;
  margin-left: 90px;
  color: white;
}
