* {
  box-sizing: border-box;
}

.container-consumo {
  display: flex;
  text-align: center;
  
}

.texto-sobre {
  text-align: center;
  height: 50px;
  width: 70px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.img-inter {
  padding-top: 30px;
}

.poluicao {
  margin-top: 30px;
}

.poluicao-texto {
  margin-top: 90px;
  color: white;
 
}

.pesca-texto {
  font-size: 18px;
  margin-top: 80px;
}

.texto-especie {
  font-size: 16px;
}

.span text-danger {
  font-size: 16px;
}

.preserv-texto {
  font-size: 18px;
  margin-top: 100px;
}

.consumo {
  color: black;
}

body {
  margin: 0;
}

.consumoBody {
  background: radial-gradient(circle, #538aad, #2573a0, #0f5387, #538aad);

  color: white;
}

.img-tartaruga {
  position: absolute;
  top: 680px;
  right: 190px;
  border-radius: 10px;
}

.img-foca {
  position: absolute;
  top: 830px;
  right: 190px;
  border-radius: 10px;
}

.img-peixes {
  width: 900px;
  height: 600px;
  margin-left: -10px;
  margin-top: -130px;
}

.img-lixo {
  width: 700px;
  margin-left: -400px;
  margin-bottom: 50px;
}

.consumo-c {
  font-size: 18px;
  margin-top: 100px;
}

.poluicao {
  font-size: 18px;
}

.lixo-texto{
  font-size: 16px;
  margin-top: -200px;
  margin-left: -70px;
}

.img-jogandolixo {
  width: 900px;
  margin-left: -600px;
  margin-top: 60px;
}

.img-limpandolixo {
  width: 900px;
  margin-left: -700px;
  margin-top: -60px;
}

.jogandolixo-texto{
  font-size: 16px;
  margin-top: -400px;
  margin-left: -200px;
}

.limpandolixo-texto{
  font-size: 16px;
  margin-top: -160px;
  margin-left: -300px;
}

.img-reciclavel {
  width: 1020px;
  margin-left: -730px;
  top: 40px;
}

.reciclavel-texto{
  font-size: 16px;
  margin-top: -400px;
  margin-left: -300px;
}

.img-proibidonadar {
  width: 920px;
  margin-left: -800px;
  margin-top: -60px;
}

.proibidonadar-texto{
  font-size: 16px;
  margin-top: -190px;
  margin-left: -390px;
}

.pesca-textodois {
  margin-top: 140px;
  margin-right: 200px;
  padding-right: 90px;
  color: white;

}



