#tittle {
    color: #a8f2fe;
    padding: 30px;
  }
  #Entrar {
    background-color: #a8f2fe;
  }
  
  .text{
      height:60px;
  }
  
.ondacoral {
  height: 300px;
}
.ondaestrela {
  height: 300px;
}

  