#tittle {
  color: #a8f2fe;
}
#Entrar {
  background-color: #a8f2fe;
}
.link {
  text-decoration: none;
}
.esqueceu {
  color: #a8f2fe;
}
#cadastro {
  color: #a8f2fe;
  border: 3px solid #a8f2fe;
  text-decoration: none;
}

.ondacoral {
  height: 300px;
}
.ondaestrela {
  height: 300px;
}
