#tittle {
  color: #a8f2fe;
  padding-top: 40px;
}
#Entrar {
  background-color: #a8f2fe;
}
.link {
  
  color: #a8f2fe;
}
.esqueceu {
  color: #a8f2fe;
}
#cadastro {
  color: #a8f2fe;
  border: 3px solid #a8f2fe;
  text-decoration: none;
}
.text{
    height:60px;
}


.ondacoral {
  height: 300px;
}
.ondaestrela {
  height: 300px;
}
