.texto{
    font-size: 30px;
}


.caixa{
    display: flex;
    justify-content: center;
    gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    
    
}

.grid-caixa{
    background-color: white;
    width: 318px;
    height: 316px;
    justify-content: center;
    margin-top: 90px;
    
    
}

.grid-item{
    margin: 10px;
    margin-left: 20px;
    margin-top: 20px;
    
}


.data{
    text-align: center;
}


.vendedor{
    display: flex; 

}

.vendedor svg{
    width: 30px;
    height: 30px;
}

.vendedor p{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
}

.pedido{
    display: flex;
}

.pedido svg{
    width: 30px;
    height: 30px;
}

.pedido p{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
}

.qnt-produto{
    display: flex; 
}

.qnt-produto svg{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.qnt-produto p{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
}

.comprar-nov{
    text-align: center;
    
}

.avaliacao{
    display: flex;
}

.avaliacao p{
    margin-top: 20px;
}

.avaliacao ul{
    display: flex;
   
}




.comprar-nov input{
    cursor: pointer;
    background-color: #0A376E;
    justify-content: center;
    width: 270px;
    height: 40px;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    
    margin-right: 10px;

 
}

h1{
    color: white;
    font-size: 30px;
    text-align: center;
}

.imagens{
    display: flex;

}

.ondacoral{
    height: 500px;
    margin-bottom: 30px;
}

.ondaestrela{
    height: 350px;
    padding-left: 1130px;
  
}