.container {
    background-color: white;
    border-radius: 20px;
    margin: 50px 20px ;
    padding: 80px 100px;
    text-align: justify;
}

h2{
    color:#538aad ;
    font-size: 20px;
    font-weight: bold;
}
p{
    color: black;
    font-size: 18px;
    padding: 0px 80px 0px 16px ;

}
.primeiraparte{
    display: flex;
    flex-direction: row;
}

.equipe{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
.equipe h2{
    padding-bottom: 30px;
}

.equipe img{
    width: 130px;
    height: 130px;
    border-radius: 50%;

}
.eqp p{
    font-size: 20px;
    text-align: center;
    font-weight: 900px;
}

.equipe a{
    text-decoration: none;
    color:#538aad;
}
.equipe .eqp{
    display: flex;
    flex-direction: row;
}
.eqp div{
    text-align: center;
}