.menu {
  background-color: #b0c5d1;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  position: 0;
  align-items: center;
}

.menu li {
  margin-left: 6.5%;
}

.menu a {
  text-decoration: none;
  color: black;
}
.menu .categoria {
  border: none;
  box-shadow: 0 0 0 0;
}
