.pessoa .entrar {
  background-color: #0a376e;
  border-radius: 40px;
  display: flex;
  align-items: center;
  width: 100px;
  height: 35px;
  justify-content: center;
  cursor: pointer;
  color: white;
  gap: 7px;
  border: none;
}
.link {
  text-decoration: none;
}
