body{  
background-color: #538AAD;
}

.grid-menu{
  flex: 0.5;
  background-color: white;
 
  
}

.img-logo1{
  height: 50px;
  margin-left: 20px;
}
.img-logo2 {
  height: 20px;
 margin-left: 20px;
}

.bgt-blue{
  background-color: #B0C5D1;
  color: bisque;
}
.personalize-bg{
  background-color: #B0C5D1;
  width: 100%;
}
