body {
    margin: 0%;
    height: 100vh;
    width: 100vh;
   background-color: #538AAD;
}
/* estilo caixa de pesquisa */
.serch-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #538AAD;
    flex-direction: column;
  }

  .serch-txt {
    border: none;
    background: none;
    outline: none;
    padding: 10px;
    color: #0A376E;
    font-size: 16px;
    width: 200px;
  }
  
  .img-logo2 {
    width: 30%;
    height: 50%;
  }
  
  .titulo{
      color: #A8F2FE;
      font-size: 60px;
      font-weight:bolder;
      margin-left: 20px;
      width: 200px;
      margin-top: 20px;
      line-height: 65px;
  }
 
  .subtitulo {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 60px;
    width: 400px;
    line-height: 40px;
  }
  
  .img-peixe {
    width: 30%;
    height: 50%;
  }
  
  .img-menu {
    width: 30px;
    height: 30px;
  }