.img-logo1{
    height: 50px;
    margin-left: 20px;
  }
  .img-logo2 {
    height: 20px;
   margin-left: 20px;
  }

  .pesquisar{
    border: 2px solid #0A376E;
    border-radius: 10px;
  }

  .pesquisar input{
    border: none;
    background-color: transparent;
    padding-left: 5px;
  }

  .pesquisar input:focus{
    border: none;
    outline: 0;
    box-shadow: 0 0 0 0;

  }

  .pesquisar button{
    border: none;
    background-color: transparent;
    padding-right: 5px;
    margin-bottom: 5px;
    color: #0A376E;
  }

  .pessoa-carro button:nth-child(1){
    background-color: #0A376E;
    border-radius: 40px;
    display: flex;
    align-items: center;
    width: 100px;
    height: 35px;
    justify-content: center;
    cursor: pointer;
    color: white;
    gap: 7px;
  
  }
  
  .pessoa-carro button:nth-child(2) {
      background-color: #0A376E;
      color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      border-radius: 40px;
      cursor: pointer;
      height: 35px;
      width: 35px;
      font-size: 30px;
  }
 
  .pessoa-carro {
      display: flex;
      gap: 10px;
      margin-right: 20px;
      align-items: center;
  }

  .menu ul{
    background-color: #B0C5D1;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:20px ;
    margin: 0;
    height: 30px;
    align-items: center;
    
  }

  .menu a{
    text-decoration: none;
    color: black;

  }
  .menu .categoria{
    border: none;
    box-shadow: 0 0 0 0;
    
  } 