.img-logo1 {
  height: 50px;
  margin-left: 55%;
}
.img-logo2 {
  height: 20px;
  margin-left: 20px;
}

.pesquisar {
  border: 2px solid #0a376e;
  border-radius: 40px;
  width: 300px;
}

.pesquisar input {
  border: none;
  background-color: transparent;
  padding-left: 20px;
  margin-top: 5px;
}

.pesquisar input:focus {
  border: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.pesquisar button {
  border: none;
  background-color: transparent;
  margin-bottom: 5px;
  margin-left: 20%;
  margin-bottom: 8px;
  color: #0a376e;
}

.pessoa-carro button:nth-child(1) {
  background-color: #0a376e;
  border-radius: 40px;
  border: none;
  display: flex;
  align-items: center;
  width: 100px;
  height: 35px;
  justify-content: center;
  cursor: pointer;
  color: white;
  gap: 7px;
}

.pessoa-carro button:nth-child(2) {
  background-color: #0a376e;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 30px;
}

.pessoa-carro {
  display: flex;
  gap: 30px;
  margin-right: 10%;
  align-items: center;
}

.menu ul {
  background-color: #b0c5d1;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  margin: 0;
  height: 30px;
  align-items: center;
}

.menu li {
  margin-left: 6.5%;
}

.menu a {
  text-decoration: none;
  color: black;
}
.menu .categoria {
  border: none;
  box-shadow: 0 0 0 0;
}
