.grid-caixa{
    background-color: #F0F0F0;
    width: 318px;
    height: 368px;
    justify-content: center;
    margin-top: 90px;
    border-radius: 30px;
  
}
.box{
    display: flex;
    justify-content: center;
    gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    
    
}
.usuario{
    display: flex;
}
.usuario svg{
    width: 82px;
    height: 82px;
    margin: 10px;
}

.usuario-nome{
    margin-left: 20px;
    margin-top: 30px;
}

.usuario-nome a{
    color: #0A376E;
    font-size: 20px;
}

.usuario-email{
    color: black;
}

.compras{
    display: flex;
}

.dados{
    display: flex;
}

.conf{
    display: flex;
}

.sair{
    display: flex;
    color: #DC0032;
}